@charset "utf-8";

body{
	font-family: 'robotoregular';
	height:100%;
	width:100%;
	overflow-x:hidden;
	font-size:100%;
	color:#1f1d22;
	font-size:15px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#999999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#999999;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#999999;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:#999999;
}
input[type="submit"]{
	height:inherit;
	width:inherit;
	border:none;
}
.form-control, .form-control:focus{
	box-shadow:none;
}
ol, ul{
	padding:0;
	margin:0;
	list-style:none;
}
a, a:hover, a:focus{
	outline:none;
	text-decoration:none;
	color:inherit;
}

small{
	font-size:75% !important;
	color:inherit !important;
}
h1,h2,h4{
	margin:0 0 5px 0;
}
h3, h4{
	font-family: 'robotomedium';
}
h3{
	color:white;
	margin:10px;
}
h2{
	font-size:32px;
}
h3{
	font-size:24px;
}
h4{
	font-size:18px;
}
p{
	font-size:15px;
	color:#676767;
}

#unshow_student_message
  {
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 10px;
    width: 290px;
  }

#unshow_student_message tr
{
    font-size:1em;
    border:1px solid #000000;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#999999;
    text-align: center;
}

#unshow_student_message td
  {
  font-size:1em;
  border:1px solid #000000;
  padding: auto;
  color:red;
  background-color:white;
    text-align: center;
  }

#unshow_student_message th
  {
  font-size:1em;
    border:1px solid #000000;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#999999;
    text-align: center;
  }

#unshow_student_message .in
  {
  width:2%;
  }

.student_right{
  background:#0c7ed9;
  display: inline-table;
  overflow:hidden;
  position:static; top:0; z-index:990;
  width:15%;
  margin:0 0 0 1%;
  text-align:center;
}
.student_right .student_class{
	padding:30px 30px 15px 30px;
}
.student_right ul{
  font-size:1em;
  border:1px solid #98bf21;
  padding:3px 7px 2px 7px;
  color:#000000;
  background-color:#EAF2D3;
}
.student_center{
  background:#0c7ed9;
  display: inline-table;
  overflow:hidden;
  position:static; top:0; z-index:990;
  width:60%;
  margin:0 0 0 19%;
}
.student_center form.callus{
	padding:30px 30px 15px 30px;
}

.mainframe-content{
    margin:40px 0;
    width: 100%;
    display: block;
    text-align: center;
}

.mainframe-wrap{
    width:1240px;
    margin:0 auto;
    display: block;
}

.wrap{
    margin:0;
    overflow: hidden;
    zoom: 1;
    display: block;
}

.center{
    height:600px;
    width:880px;
    display: inline-block;
    float: left;
    background: #1f1d22;
    margin:0;

  /*display: block;
  overflow:hidden;
  position:static; top:0; z-index:990;
  width:60%;
  margin:40px;
  padding:30px 30px 15px 30px;
  position:relative;
  */


}

.side{
    background: #dcdcdc;
    height: 600px;
    width:320px;
    display: inline-block;
    float: right;
    overflow: hidden;
}

.face_image{
	width:100%;
	height:100%;
	text-align:center;
	margin:20px auto ;
}
.class_mes{
	font-size:20px;
	color:black;
	text-align: left;
	margin:10px 0 20px 10px;
    left: 10px;
}
.student_left{
  background:#0c7ed9;
  display: inline-table;
  overflow:hidden;
  position: fixed;
  border-radius: 9px;
  top:20%; z-index:990;
  width:12%;  
}
.student_left div{
	padding:30px 30px 15px 30px;
}
.footer_third{
	background:#0c7ed9;
}
.mybtn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.center select{
	display: inline-block;
    padding: 6px 12px;
    margin:5px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.center p{
	display: inline-block;
    padding: 6px 12px;
    margin:5px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
	color:white;
}
textarea {
	border:1px solid #d5dadf;
	border-radius:4px;
	background:#fff;
	font-size:14px;
}

.name_id {
    float: left;

}

.name_photo {
    float: right;
}

.left_btn {
    position:fixed;
    top:250px;
    left:0px;
    right:0px;
    bottom: 0px;
}

.headline-noinfo {
    position: relative;
}

.headline-noinfo p{
    color:#0c7ed9;
    font-size: 48px;
    text-align: left;
}

.headline {
    height: 130px;
}

.headline-text-info{
    position: relative;
    float: left;
    display:inline-block;
}

.headline-text-info p{
    color:#0c7ed9;
    font-size: 48px;
    text-align: left;
}

.left_selection_list {
    position: relative;
    float: right;
    margin-top: 100px;
}

/*单选按钮*/
.gcs-radio {
 display: none;
}
.gcs-radio+label {
  width: 15px;
  height: 15px;
  line-height: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  border: 1px solid gray;
  border-radius: 50%;
}
.gcs-radio+label:hover {
  border: 1px solid #0c7ed9;
  cursor: pointer;
}
.gcs-radio:checked+label {
  background: #0c7ed9;
  border: 1px solid #0c7ed9;
}
.gcs-radio:checked+label:after {
  content: "\2022";
  font-size: 26px;
  color: white;
}
