<!DOCTYPE html>
<!--加载静态文件-->
{% load static %}
<html lang="zh-hans">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>人脸点名</title>
<link rel="stylesheet" type="text/css" href="{% static 'others/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'others/css/style.css' %}">
<script src="{% static 'others/js/jquery-3.4.1.min.js' %}"></script>
</head>
<body>               
               

<!--Header-->
<header>
  <nav class="navbar">
        <div class="col-sm-12" style="background: #2e6da4">
          <div class="navbar-header">
            <a href="{% url 'rc_app:主页' username %}"><img src="{% static 'others/images/logo.png' %}" class="logo" alt=""
                                      style="width: 240px; height: 100px;position: relative;left: 150px"></a>
          </div>
        </div>
      <div>
          <div class="col-sm-12" style="background:#dcdcdc;">
          <div class="collapse navbar-collapse" id="navbar-menu" style="position: relative; right: 150px">
            <ul class="nav navbar-nav navbar-right" data-in="fadeIn" data-out="fadeOut">
                <li><a style="font-family:等线; font-size: 17px">{{ username }}老师，欢迎登陆系统！</a></li>
                <li><a style="font-family:等线; font-size: 17px" href="{% url 'rc_app:主页' username %}">人脸点名</a></li>
                <li><a style="font-family:等线; font-size: 17px" href="{% url 'rc_app:管理学生' username %}">管理学生</a></li>
                <li><a style="font-family:等线; font-size: 17px" >登出</a></li>
            </ul>
          </div>
          </div>
        </div>
  </nav>
</header>
<!--Header Ends-->

<!--Partners-->
<div class="mainframe-content">
    <div class="mainframe-wrap">
        <div class="wrap">
            <div class="center" style="position: relative">
                <img src="{% static 'others/images/original.png' %}" style="width: 100%; height:100%">
                <div class="upload_content" style="position:absolute;top:70%;left: 15%;">
                    <button class="click" onclick="s()" style="background:url({% static 'others/images/click.jpg' %}) no-repeat;
                    background-size: cover; width: 268px; height: 110px; border-color: #2e6da4;
                    border-style: double; border-width: 3px; border-radius: 15px"; margin="0";>
                    </button>
                </div>
            </div>
            <div class="side">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="face_photo" class="f" style="opacity:0;pointer-events: none;"/>
                    <button class="upload" type="submit" style="display: none"></button>
                </form>
                <div style="margin:0 auto;width:55%">
                    <select class="select_option">
                    <option>网络工程</option>
                    <option>信息安全</option>
                    </select>
                    <button class="btn" onclick="s()">继续添加文件</button>
                </div>
                <div class="class_mes">
                    实到人数/应到人数: 12/53
                    </br>出勤率：
                </div>
                <div class="info_list">

                <table id="student_message">
                    <tr>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>上次到场时间</th>
                        <th>出勤次数</th>
                    </tr>
                    <tr>
                        <td>201630601111</td>
                        <td>王小明</td>
                        <td>2019.5.12</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>201630601111</td>
                        <td>王小明</td>
                        <td>2019.4.3</td>
                        <td>4</td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Partners Ends-->

<!--Footer-->
<footer class="footer_third" style="margin-top:10%;bottom:0;">
  <div class="container" >
    <p style="color:white;margin-top:10px;">软工课设——点名系统——2019.05.19 </p>
  </div>
</footer>

<script>
function s(){
    $(".f").click();
}
$('.f').change(function(){
    $('#em').text($('.f').val());
    $(".upload").click();
});
</script>
</body>
</html>