<!DOCTYPE html>
{% load static %}
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>缺勤统计</title>
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="{% static 'others/js/jquery-3.4.1.min.js' %}"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/datatables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'others/js/datatables.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/jquery.dataTables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'others/js/jquery.dataTables.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/select.dataTables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'others/js/dataTables.select.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/dataTables.bootstrap.min.css' %}"/>
    <script type="text/javascript" src="{% static 'others/js/dataTables.bootstrap.min.js' %}"></script>
   </head>
<body>

<!--Header-->
<header>
    <nav class="navbar">
        <div class="col-sm-12" style="background: #0c7ed9">
            <div class="navbar-header">
                <a href="{% url 'rc_app:主页' username 0 %}"><img src="{% static 'others/images/logo.png' %}" class="logo" alt=""
                                          style="width: 240px; height: 100px;position: relative;left: 150px"></a>
            </div>
        </div>
        <div>
            <div class="col-sm-12" style="background:#dcdcdc;">
                <div class="collapse navbar-collapse" id="navbar-menu" style="position: relative; right: 150px">
                    <ul class="nav navbar-nav navbar-right" data-in="fadeIn" data-out="fadeOut">
                        <li><a style="font-family:等线; font-size: 17px; color: black;">{{ username }}老师，欢迎登陆系统！</a></li>
                        <li><a style="font-family:等线; font-size: 17px; color: black;" href="{% url 'rc_app:主页' username 0 %}">人脸点名</a></li>
                        <li><a style="font-family:等线; font-size: 17px; color: black;" href="{% url 'rc_app:管理课程' username %}">个人中心</a></li>
                        <li><a style="font-family:等线; font-size: 17px; color: black;" href="{% url 'rc_app:登出' %}">登出</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<!--Header Ends-->

<div class="mainframe-content">
    <div class="mainframe-wrap" onload="change_color()">
        <div class="headline">
            <div class="headline-text-info">
                <p>缺勤记录</p>
                <p style="font-size: 18px; color:black;" >姓名:&nbsp;{{ student.name }}</p>
                <p id="studentID" style="font-size: 18px; color:black;">学号:&nbsp;{{ student.student_id }}</p>
            </div>
            <div class="left_selection_list" >
                <button id="addOne" class="mybtn" style="background-color: #74abc6" onclick="createOne()">新增条目</button>
                <button id="deleteAll" class="mybtn" style="background-color: #c64d47" onclick="deleteAll()">批量删除</button>
            </div>
        </div>
        <hr>
        <div class="wrap" >
            <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="delete_absent_records" id="f3" style="opacity:0;pointer-events: none;display: none"/>
                    <button class="upload3" type="submit" style="display: none"></button>
            </form>
            <table id="specific_info" class="display">
                <thead>
                <tr>
                    <th style="text-align: center; width: 10%"><input type="checkbox" id="allChecked" /></th>
                    <th style="text-align: center; width: 30%">缺勤时间</th>
                    <th style="text-align: center; width: 30%">请假申请情况</th>
                    <th style="text-align: center; width: 30%">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for absent_record in absent_records %}
                    <tr>
                        <td></td>
                        <td>{{ absent_record.absent_time | date:"Y-m-d H:i:s" }}</td>
                        <td>
                            {% if absent_record.is_ask_for_leave %}
                                已批准
                            {% else %}
                                未批准
                            {% endif %}
                        </td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 9999">
    <div class="modal-dialog">
        <div class="modal-content">
            <input type="hidden" id="newsid">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    修改条目
                </h4>
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body" style="">
                    缺勤时间:&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="absent_date" class="keyword-input" type="date" name="absent_date">
                    <input id="absent_time" class="keyword-input" type="time" name="absent_time">
                </div>
                <div class="modal-body" style="">
                    请假申请情况:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" value="false" id="not_ask_for_leave" name="is_ask_for_leave"/><label for="not_ask_for_leave"></label>未批准&nbsp;&nbsp;&nbsp;
                    <input type="radio" value="true" id="ask_for_leave" name="is_ask_for_leave" /><label for="ask_for_leave"></label>已批准
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="submit" class="btn btn-primary">
                        保存
                    </button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script>

    {% if msg %}
        alert("{{ msg }}");
    {% endif %}


    function s3(){
        {#$(".f3").click();#}
        var array = document.getElementsByClassName('selected');
        var post_content = array[0].innerText.trim().split('\t')[0];
        for(var i=1;i<array.length;i++){
            post_content += '_' + array[i].innerText.trim().split('\t')[0];
        }
        var f3 = document.getElementById('f3');
        f3.value = post_content;
        $(".upload3").click();
}

    /* Initialise the table with the required column ordering data types */
    $(document).ready(function() {
        //在正常调试后，修改过值，原值为myTable！！！！！！！
         myTable_AR = $('#specific_info').DataTable( {
            "columns": [
                {
                    data: null,
                    defaultContent: '',
                    className: 'select-checkbox',
                },
                { data: "time"},
                { data: "permit"},
                { data: "action"},
            ],
            language: {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"

                },},
            "order": [[ 1, "desc" ]],

            "columnDefs": [

                {
                "targets": 3,
                "render": function ( data, type, row, meta ) {
                    return '<a href="javascript:updateOne('+data+')"><img src="{% static 'others/images/xiugai.jpg' %}" style=" width: 22px; height:22px;" data-toggle="modal" data-target="#myModal"></a>';
                }
                },

                {
                    "orderable" : false,
                    "targets" : [0, 2, 3],
                }
            ],
            select:{
                style: 'multi',
                selector: 'td:first-child'
            }


        } );
    } );


    function deleteAll() {
        var array = document.getElementsByClassName('selected');
        if (array.length === 0)
        {
            alert("尚未有被选中的项！");
            return;
        }
        var output;
        var r=confirm("确定删除所选项吗?");
        if (r===true){
            var post_content = array[0].innerText.trim().split('\t')[0];
            for(var i=1;i<array.length;i++){
                post_content += '_' + array[i].innerText.trim().split('\t')[0];
            }
            var f3 = document.getElementById('f3');
            f3.value = post_content;
            $(".upload3").click();
        }
        return;
    }

    //修改用弹出式窗口
    function updateOne() {
        $('#myModal').find('.modal-title').text("修改条目");
        $('#myModal').modal();
    }

    //新建用弹出式窗口
    function createOne(data) {
        $('#myModal').find('.modal-title').text("新建条目");
        $('#myModal').modal();
    }


    $('#allChecked').click(function(){
        console.log(1);
        if(this.checked){
            myTable_AR.rows().select();
        }else{
            myTable_AR.rows().deselect();
        }
    });



</script>



</body>
</html>