<!DOCTYPE html>
{% load static %}
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>缺勤统计</title>
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="{% static 'others/js/jquery-3.4.1.min.js' %}"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>
    <link rel="stylesheet" type="text/css" src="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
   </head>
<body>

<!--Header-->
<header>
    <nav class="navbar">
        <div class="col-sm-12" style="background: #0c7ed9">
            <div class="navbar-header">
                <a href="index.html"><img src="{% static 'others/images/logo.png' %}" class="logo" alt=""
                                          style="width: 240px; height: 100px;position: relative;left: 150px"></a>
            </div>
        </div>
        <div>
            <div class="col-sm-12" style="background:#dcdcdc;">
                <div class="collapse navbar-collapse" id="navbar-menu" style="position: relative; right: 150px">
                    <ul class="nav navbar-nav navbar-right" data-in="fadeIn" data-out="fadeOut">
                        <li><a style="font-family:等线; font-size: 17px; color: black;">杨灿老师，欢迎登陆系统！</a></li>
                        <li><a style="font-family:等线; font-size: 17px; color: black;" href="./face.html">人脸点名</a></li>
                        <li><a style="font-family:等线; font-size: 17px; color: black;" href="./Class_Info.html">管理学生</a></li>
                        <li><a style="font-family:等线; font-size: 17px; color: black;" >登出</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<!--Header Ends-->

<div class="mainframe-content">
    <div class="mainframe-wrap" onload="change_color()">
        <div class="headline">
            <div class="headline-text-info">
                <p>缺勤记录</p>
                <p style="font-size: 18px; color:black;" >姓名：</p>
                <p id="studentID" style="font-size: 18px; color:black;">学号：</p>
            </div>
            <div class="left_selection_list" >
                <button id="addOne" class="mybtn" style="background-color: #74abc6" onclick="createOne()">新增条目</button>
                <button id="addAll" class="mybtn" style="background-color: #8cc66a">批量导入条目</button>
                <button id="deleteAll" class="mybtn" style="background-color: #c64d47" onclick="deleteAll()">批量删除</button>
            </div>
        </div>
        <hr>
        <div class="wrap" >
            <table id="specific_info" class="display">
                <thead>
                <tr>
                    <th style="text-align: center; width: 10%"><input type="checkbox" id="allChecked" /></th>
                    <th style="text-align: center; width: 30%">缺勤时间</th>
                    <th style="text-align: center; width: 30%">请假申请情况</th>
                    <th style="text-align: center; width: 30%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td>2019.3.15</td>
                    <td><input type="radio" value="True" name="choose"/><label></label>未批准&nbsp;<input type="radio" value="False" name="choose" /><label></label>已批准</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>2019.3.22</td>
                    <td><input type="radio" value="True" name="choose"/><label></label>未批准&nbsp;<input type="radio" value="False" name="choose" /><label></label>已批准</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 9999">
    <div class="modal-dialog">
        <div class="modal-content">
            <input type="hidden" id="newsid">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    修改条目
                </h4>
            </div>
            <div class="modal-body" style="">
                缺勤时间:
                <form name="reg_testdate">
                    <select name="YYYY" onchange="YYYYDD(this.value)">
                        <option value="">请选择 年</option>
                    </select>
                    &nbsp;
                    <select name="MM" onchange="MMDD(this.value)">
                        <option value="">选择 月</option>
                    </select>
                    &nbsp;
                    <select name="DD">
                        <option value="">选择 日</option>
                    </select>
                </form>
            </div>
            <div class="modal-body" style="">
                请假申请情况:
                <input type="radio" value="True" name="choose"/><label></label>未批准&nbsp;<input type="radio" value="False" name="choose" /><label></label>已批准
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary">
                    保存
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script>
    /*获取当前页面id*/
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = decodeURIComponent(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }

    var a=GetRequest();

    function passtoHTML() {
        console.log(a['id']);
        return "学号："+a['id'];
    }
    document.getElementById('studentID').innerText=passtoHTML();


    /* Initialise the table with the required column ordering data types */
    $(document).ready(function() {
        //在正常调试后，修改过值，原值为myTable！！！！！！！
         myTable_AR = $('#specific_info').DataTable( {
            "columns": [
                {
                    data: null,
                    defaultContent: '',
                    className: 'select-checkbox',
                },
                { data: "time"},
                { data: "permit"},
                { data: "action"},
            ],
            language: {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"

                },},
            "order": [[ 1, "desc" ]],

            "columnDefs": [

                {
                "targets": 3,
                "render": function ( data, type, row, meta ) {
                    //return '<select><option value="未批准">未批准</option><option value="已批准">已批准</option></select>'
                    return '<a href="javascript:updateOne('+data+')"><img src="images/xiugai.jpg" style=" width: 22px; height:22px;" data-toggle="modal" data-target="#myModal"></a>';
                }
                },

                {
                    "orderable" : false,
                    "targets" : [0, 2, 3],
                }
            ],
            select:{
                style: 'multi',
                selector: 'td:first-child'
            }


        } );
    } );


    function deleteAll() {
        var array = myTable_AR.row('.selected').data();
        if (array == null)
        {
            alert("尚未有被选中的项！");
            return;
        }
        var output;
        var r=confirm("确定删除所选项吗?");
        if (r==true) output=1;
        else output=0;
        if ( output== 1 ) {
            myTable_AR.rows('.selected').remove().draw(false);
        }
        return;
    }

    //修改用弹出式窗口
    function updateOne() {
        $('#myModal').find('.modal-title').text("修改条目");
        $('#myModal').modal();
    }

    //新建用弹出式窗口
    function createOne(data) {
        $('#myModal').find('.modal-title').text("新建条目");
        $('#myModal').modal();
    }


    $('#allChecked').click(function(){
        console.log(1);
        if(this.checked){
            myTable_AR.rows().select();
        }else{
            myTable_AR.rows().deselect();
        }
    });


    //判断时间函数

    function YYYYMMDDstart()
    {
        MonHead = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

        //先给年下拉框赋内容
        var y  = new Date().getFullYear();
        for (var i = (y-30); i <= y; i++) //以今年为准，前30年
            document.reg_testdate.YYYY.options.add(new Option(" "+ i +" 年", i));

        //赋月份的下拉框
        for (var i = 1; i < 13; i++)
            document.reg_testdate.MM.options.add(new Option(" " + i + " 月", i));

        document.reg_testdate.YYYY.value = y;
        document.reg_testdate.MM.value = new Date().getMonth() + 1;
        var n = MonHead[new Date().getMonth()];
        if (new Date().getMonth() ==1 && IsPinYear(YYYYvalue)) n++;
        writeDay(n); //赋日期下拉框Author:meizz
        document.reg_testdate.DD.value = new Date().getDate();
    }
    if(document.attachEvent)
        window.attachEvent("onload", YYYYMMDDstart);
    else
        window.addEventListener('load', YYYYMMDDstart, false);
    function YYYYDD(str) //年发生变化时日期发生变化(主要是判断闰平年)
    {
        var MMvalue = document.reg_testdate.MM.options[document.reg_testdate.MM.selectedIndex].value;
        if (MMvalue == ""){ var e = document.reg_testdate.DD; optionsClear(e); return;}
        var n = MonHead[MMvalue - 1];
        if (MMvalue ==2 && IsPinYear(str)) n++;
        writeDay(n)
    }
    function MMDD(str)   //月发生变化时日期联动
    {
        var YYYYvalue = document.reg_testdate.YYYY.options[document.reg_testdate.YYYY.selectedIndex].value;
        if (YYYYvalue == ""){ var e = document.reg_testdate.DD; optionsClear(e); return;}
        var n = MonHead[str - 1];
        if (str ==2 && IsPinYear(YYYYvalue)) n++;
        writeDay(n)
    }
    function writeDay(n)   //据条件写日期的下拉框
    {
        var e = document.reg_testdate.DD; optionsClear(e);
        for (var i=1; i<(n+1); i++)
            e.options.add(new Option(" "+ i + " 日", i));
    }
    function IsPinYear(year)//判断是否闰平年
    {     return(0 == year%4 && (year%100 !=0 || year%400 == 0));}
    function optionsClear(e)
    {
        e.options.length = 1;
    }


</script>



</body>
</html>