<!DOCTYPE html>
{% load static %}
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>课程信息</title>
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="{% static 'others/js/jquery-3.4.1.min.js' %}"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/datatables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'others/js/datatables.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/jquery.dataTables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'others/js/jquery.dataTables.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/select.dataTables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'others/js/dataTables.select.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/dataTables.bootstrap.min.css' %}"/>
    <script type="text/javascript" src="{% static 'others/js/dataTables.bootstrap.min.js' %}"></script>
</head>
<body>

<!--Header-->
<header>
    <nav class="navbar">
        <div class="col-sm-12" style="background: #0c7ed9">
            <div class="navbar-header">
                <a href="{% url 'rc_app:主页' username 0 %}"><img src="{% static 'others/images/logo.png' %}" class="logo" alt=""
                                          style="width: 240px; height: 100px;position: relative;left: 150px"></a>
            </div>
        </div>
        <div>
            <div class="col-sm-12" style="background:#dcdcdc;">
                <div class="collapse navbar-collapse" id="navbar-menu" style="position: relative; right: 150px">
                    <ul class="nav navbar-nav navbar-right" data-in="fadeIn" data-out="fadeOut">
                        <li><a style="font-family:等线; font-size: 17px; color: black">{{ username }}老师，欢迎登陆系统</a></li>
                        <li><a style="font-family:等线; font-size: 17px; color: black" href="{% url 'rc_app:主页' username 0 %}">人脸点名</a></li>
                        <li><a style="font-family:等线; font-size: 17px; color: black" href="{% url 'rc_app:管理课程' username %}">个人中心</a></li>
                        <li><a style="font-family:等线; font-size: 17px; color: black" href="{% url 'rc_app:登出' %}">登出</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<!--Header Ends-->

<div class="mainframe-content">
    <div class="mainframe-wrap" onload="change_color()">
        <div class="headline">
            <div class="headline-text-info">
                <p>我的课程</p>
            </div>
            <div class="left_selection_list" >
                <button id="addOne" class="mybtn" style="background-color: #74abc6" onclick="createOne()">新增条目</button>
                <button id="addAll" class="mybtn" style="background-color: #8cc66a">批量导入条目</button>
                <button id="deleteAll" class="mybtn" style="background-color: #c64d47" onclick="deleteAll()">批量删除</button>
            </div>
        </div>
        <hr>
        <div class="wrap" >
            <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="create_or_modify_course" id="f1" style="opacity:0;pointer-events: none;display: none"/>
                    <button class="upload1" type="submit" style="display: none"></button>
            </form>
            <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="delete_courses" id="f3" style="opacity:0;pointer-events: none;display: none"/>
                    <button class="upload3" type="submit" style="display: none"></button>
            </form>
            <table id="specific_info" >
                <thead>
                <tr>
                    <th style="text-align: center; width: 10%"><input type="checkbox" id="allChecked" /></th>
                    <th style="text-align: center; width: 25%">课程名称 </th>
                    <th style="text-align: center; width: 25%">学生人数</th>
                    <th style="text-align: center; width: 25%">上课时间</th>
                    <th style="text-align: center; width: 15%">操作</th>
                </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                        <tr>
                            <td></td>
                            <td><a style="color: #0c7ed9; text-decoration: underline" href = "{% url 'rc_app:管理课程中的学生' username course.course_id %}">{{ course.name }}</a></td>
                            <td>{{ course.student_amount }}</td>
                            <td>{{ course.course_time }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 9999">
    <div class="modal-dialog">
        <div class="modal-content">
            <input type="hidden" id="newsid">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    修改条目
                </h4>
            </div>
            <div class="modal-body" id="div_class_name" style="">
                <br>
                课程名称: <input type="text" name="ClassName" id="class_name" value=""><br>
            </div>
            <div class="modal-body" style="">
                上课时间: <input type="text" name="ClassTime" id="class_time" value=""><br></div>
            <div class="modal-body" style="">
                学生人数将通过班级实际名单由系统进行统计<br></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="s1()">
                    保存<!-- 计划：保存事件架构：检查数据完备性—>修改数据->关闭弹出式页面 -->
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script>

    {% if msg %}
        alert("{{ msg }}");
    {% endif %}

    function s1(){
        var f1 = document.getElementById('f1');
        var class_name = document.getElementById('class_name').value;
        var class_time = document.getElementById('class_time').value;
        if(! class_name){
            alert('请输入课程名称!');
            return;
        }
        for(var i=0;i<class_name.length;i++){
            if ('!' === class_name[i]){
                alert('课程名称不能含有\'!\'字符，请重新输入');
                class_name = '';
                return;
            }
        }
        if(! class_time){
            alert('请输入上课时间!');
            return;
        }
        f1.value = class_name + '!' + class_time;
        $('.upload1').click();
    }

    /* Initialise the table with the required column ordering data types */
    $(document).ready(function() {
        myTable_CI = $('#specific_info').DataTable( {
            "columns": [
                {
                    data: null,
                    defaultContent: '',
                    className: 'select-checkbox',
                },
                { data: "course"},
                { data: "stundent_number"},
                { data: "time"},
                { data: "action"},
            ],
            language: {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            },
            "columnDefs": [
                {
                    "targets": 4,
                    "render": function ( data, type, row, meta ) {
                        //return '<select><option value="未批准">未批准</option><option value="已批准">已批准</option></select>'
                        {#console.log(type(data));#}
                        {#console.log(type);#}
                        {#console.log(row['course']);#}
                        {#console.log(meta);#}
                        return '<a href="javascript:updateOne('+data+')"><img src="{% static 'others/images/xiugai.jpg' %}" style=" width: 22px; height:22px;" data-toggle="modal" data-target="#myModal"></a>';
                    }
                },
                {
                    "orderable" : false,
                    "targets" : [0, 4],
                }
            ],

            select:{
                style: 'multi',
                selector: 'td:first-child'
            }

        } );
    } );

    function deleteAll() {
        {#var array = myTable_CM.row('.selected');#}
        var array = document.getElementsByClassName('selected');
        if (array.length === 0)
        {
            alert("尚未有被选中的项！");
            return;
        }
        var r=confirm("确定删除所选项吗?");
        if (r===true){
            var post_content = array[0].innerText.trim().split('\t')[0];
            for(var i=1;i<array.length;i++){
                post_content += '!' + array[i].innerText.trim().split('\t')[0];
            }
            var f3 = document.getElementById('f3');
            console.log(post_content);
            f3.value = post_content;
            $(".upload3").click();
        }
        return;
    }

    //修改用弹出式窗口
    function updateOne(data) {
        {#document.getElementById('old_name').value = '';#}
        $('#myModal').find('.modal-title').text("修改条目");
        $('#myModal').modal();
    }

    //新建用弹出式窗口
    function createOne(data) {
        $('#myModal').find('.modal-title').text("新建条目");
        $('#myModal').modal();
    }


    $('#allChecked').click(function(){
        console.log(1);
        if(this.checked){
            myTable_CI.rows().select();
        }else{
            myTable_CI.rows().deselect();
        }
    });

</script>


</body>
</html>