<!DOCTYPE html>
<!--加载静态文件-->
{% load static %}
<html lang="zh-hans">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>人脸点名</title>
<link rel="stylesheet" type="text/css" href="{% static 'others/css/style.css' %}">
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="{% static 'others/js/jquery-3.4.1.min.js' %}"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'others/css/datatables.min.css' %}"/>
{#<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>#}
{#<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>#}
<script type="text/javascript" src="{% static 'others/js/datatables.min.js' %}"></script>
</head>
<body>               
               

<!--Header-->
<header>
  <nav class="navbar">
        <div class="col-sm-12" style="background: #0c7ed9">
          <div class="navbar-header">
            <a href="{% url 'rc_app:主页' username 0 %}"><img src="{% static 'others/images/logo.png' %}" class="logo" alt=""
                                      style="width: 240px; height: 100px;position: relative;left: 150px"></a>
          </div>
        </div>
      <div>
          <div class="col-sm-12" style="background:#dcdcdc;">
          <div class="collapse navbar-collapse" id="navbar-menu" style="position: relative; right: 150px">
            <ul class="nav navbar-nav navbar-right" data-in="fadeIn" data-out="fadeOut">
                <li><a style="font-family:等线; font-size: 17px; color: black">{{ username }}老师，欢迎登陆系统</a></li>
                <li><a style="font-family:等线; font-size: 17px; color: black" href="{% url 'rc_app:主页' username 0 %}">人脸点名</a></li>
                <li><a style="font-family:等线; font-size: 17px; color: black" href="{% url 'rc_app:管理课程' username %}">个人中心</a></li>
                <li><a style="font-family:等线; font-size: 17px; color: black" href="{% url 'rc_app:登出' %}" >登出</a></li>
            </ul>
          </div>
          </div>
        </div>
  </nav>
</header>
<!--Header Ends-->

<!--Partners-->
<div class="left_btn" style="width: 80px; height: 84px">
    <button onclick="s()" style="background:url({% static 'others/images/click_log2.jpg' %}) no-repeat;
                    background-size: cover; width: 80px; height: 84px;border-color: #86bac8;
                    border-style: solid; border-width: 3px; border-radius: 15px";></button>
</div>

<div class="mainframe-content">
    <div class="mainframe-wrap">
        <div class="wrap">
            <div class="center" style="position: relative">
                {% if file_type %}
                    <img src="/media/{{ username }}/marked_face.{{ file_type }}" style="width: 100%; height:100%">
                {% else %}
                    <img src="{% static 'others/images/original.png' %}" style="width: 100%; height:100%">
                    <div class="upload_content" style="position:absolute;top:65%;left: 12%;">
                        <button class="click" onclick="s()" style="background:url({% static 'others/images/click.jpg' %}) no-repeat;
                        background-size: cover; width: 268px; height: 110px; border-color: #2e6da4;
                        border-style: solid; border-width: 3px; border-radius: 15px";>
                        </button>
                        <div class="progress progress-striped active" id="progress_bar" style="visibility: hidden">
                            <div class="progress-bar progress-bar-info" role="progressbar" id="fucking_bar"
                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                             style="width: 0%;">
                                <p id="progress_text" style="color: #2e6da4; padding: 1px; margin: 0px 0px 0px 5px; left: 0px; position: absolute">正在上传(0%)</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="side">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="face_photo" class="f" style="opacity:0;pointer-events: none;"/>
                    <button class="upload" type="submit" style="display: none"></button>
                </form>
                <div>
                    <select id="cse" style="font-size: 36px; width: 300px; color: #0c7ed9" onchange="window.location.href=this.value">
                        {% for course in courses %}
                            <option id="{{ course.index }}" value="{% url 'rc_app:主页' username course.index %}">{{ course.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="class_mes">
                    实到人数/应到人数:&nbsp;&nbsp;&nbsp;{{ face_amount }}
                    {% if student_amount %}
                    / {{ student_amount }}
                    {% endif %}
                    </br>出勤率:&nbsp;&nbsp;&nbsp;{{ attendance_rate }}
                    {% if attendance_rate %}
                    %
                    {% endif %}
                </div>
                {% if filepath %}
                    <div class="info_list">
                        <div>
                        <div style="position: relative; float: left; margin-left:10px ">
                            <p style="color: red; font-family: 等线; font-size: 1.2em">未检测到学生名单:</p>
                        </div>
                            <div style="position: relative; float: right; margin-right:10px">
                                <u><a style="color: #0c7ed9; font-family: 等线" href="{% url 'rc_app:详细名单' username course.course_id filepath %}" target="_blank">名单详情</a></u>
                            </div>
                    </div>
                    <table id="unshow_student_message" >
                        <thead>
                        <tr>
                            <th>学号 </th>
                            <th>姓名</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for ar in attendance_result %}
                                {% if ar.absent_situation == '未到场' %}
                                    <tr>
                                        <td>{{ ar.student.student_id }}</td>
                                        <td>{{ ar.student.name }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!--Partners Ends-->

<!--Footer-->
<footer class="footer_third" style="margin-top:10%;bottom:0;background-color: #0c7ed9">
  <div class="container" >
    <p style="color:white;margin-top:10px;">软工课设——人脸识别——2019.05.19 </p>
  </div>
</footer>

<script>
function s(){
    $(".f").click();
}

var tik_tok = 0;

//2019.6.5修改
var timer;

$('.f').change(function(){
    // $('#em').text($('.f').val());
    $(".upload").click();
    document.getElementsByClassName("progress-bar progress-bar-info")[0].style="width: 0%; color: #2e6da4";
    console.log(document.getElementsByClassName("progress-bar progress-bar-info"));
    document.getElementById("progress_text").innerText="正在上传(0%)";
    document.getElementById("progress_bar").style.visibility= "visible";

    timer = setInterval("timeTask()",130);
    setTimeout("clearInterval(timer)", 12870);
});

function timeTask()
{
    tik_tok += 1;
    document.getElementsByClassName("progress-bar progress-bar-info")[0].style="width: "+tik_tok+"%;";
    if(tik_tok == 35) document.getElementById("progress_text").style.color="white";
    document.getElementById("progress_text").innerText="正在上传("+tik_tok.toString()+"%)";
}


/* Initialise the table with the required column ordering data types */
$(document).ready(function() {
    $('#student_message').DataTable( {
        "columns": [
            null,
            null,
            null,
            null,
        ],
        "scrollY": '100%',
        "scrollCollapse": true,
        "paging": false,
        "lengthChange": false,
    } );
} );


document.getElementById("cse")[{{ index }}].selected=true;

</script>
</body>
</html>