<!DOCTYPE html>
{% load static %}
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>学生信息</title>
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'others/css/style.css' %}">
</head>
<body>


<!--Header-->
<header>
    <nav class="navbar">
        <div class="col-sm-12" style="background: #0c7ed9">
            <div class="navbar-header">
                <a href="index.html"><img src="{% static 'others/images/logo.png' %}" class="logo" alt=""
                                          style="width: 240px; height: 100px;position: relative;left: 150px"></a>
            </div>
        </div>
        <div>
            <div class="col-sm-12" style="background:#dcdcdc;">
                <div class="collapse navbar-collapse" id="navbar-menu" style="position: relative; right: 150px">
                    <ul class="nav navbar-nav navbar-right" data-in="fadeIn" data-out="fadeOut">
                        <li><a style="font-family:等线; font-size: 17px">杨灿老师，欢迎登陆系统！</a></li>
                        <li><a style="font-family:等线; font-size: 17px" href="./face.html">人脸点名</a></li>
                        <li><a style="font-family:等线; font-size: 17px" href="./Class_Info.html">管理学生</a></li>
                        <li><a style="font-family:等线; font-size: 17px" >登出</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<!--Header Ends-->

<div class="page_mainframe">
    <div class="person">
        <div class="name_id">
            <p>姓名:王小明</p>
            <div class="config">
                <button class="btn">修改姓名</button>
            </div>
            <p>学号:2016306111111</p>
            <div class="config">
                <button class="btn">修改学号</button>
            </div>
        </div>
        <div class="id_photo">
            <img src="images/scut2.jpg" style="height: 150px; width: 100px">
            <div class="config">
                <button class="btn">修改照片</button>
            </div>
        </div>
    </div>
    <div class="app_record">
        <p>出勤次数：2</p>
        <div class="config">
            <button class="btn">增加新记录</button>
        </div>
        <div class="info_list">
        <table id="record_table">
            <tr>
                <th>序号</th>
                <th>时间</th>
            </tr>
            <tr>
                <td>1</td>
                <td>2019.3.8 14:35</td>
            </tr>
            <tr>
                <td>2</td>
                <td>2019.3.15 14:32</td>
            </tr>
        </table>
        </div>
    </div>
</div>

<!--Footer-->
<footer class="footer_third" style="margin-top:10%;bottom:0;background-color: #0c7ed9">
    <div class="container" >
        <p style="color:white;margin-top:10px;">软工课设——人脸识别——2019.05.19 </p>
    </div>
</footer>

</body>
</html>